.topbar{
  background-color: blue;
  padding: 0;
}

.title{
  color: whitesmoke;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

li{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 1%;
}

a {
  color:black;
}

a:visited{
  color: black;
}