@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

.landing-grid {
  background-image: url("./assets/background-wide.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.complex-grid{
  color:blue;
}

.links-grid {
  color: blue;
}

.info-list {
  margin-left: 3%;
}

.photo-top {
  text-align: center;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: rgba(255, 255, 255, 0.9);
  width: 75%;
  margin: auto;
  border-radius: 5px;
}

.banner-text h1 {
  font-family: 'Roboto', sans-serif;
  color: blue;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 1%;
}

.banner-text hr {
  font-family: 'Roboto', sans-serif;
  border-top: 5px dotted blue;
  width: 50%;
  margin: auto;
}

.banner-text p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: blue;
  font-size: 16px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  white-space: pre-wrap;
}

.foto-album-wrapper {
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2%;
}

.note-row p {
  margin: 0 34px 0 0;
  padding: 0;
  outline: none;
  min-width: 250px;
}

.note-input {
  height: 32px;
  border: none;
  padding: 5px 20px;
  min-width: 250px;
  border-radius: 4.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.note-row {
  margin: 12px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}