.topbar{
  box-sizing: border-box;
  position: fixed;
  height: 15vh;
  width: 100%;
  background-color:#f4f4f4;
  color: #000000;
  padding: 0;
}

.topbar a {
  color:black;
}

.topbar a:visited{
  color: black;
}

.topbar a:hover{
  text-decoration: none;
  background-color: #ffffff;
}


.selected {
  background-color: blanchedalmond;
}

.title{
  color: red;
  text-align: center;
  font-family: 'Satisfy', cursive;
  padding: 0px;
  margin: 0px;
}

.links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

li{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 1%;
}


